@font-face{
  font-family: 'OnestBold';
  font-weight: 700;
  font-style: normal;
  src: local('OnestBold'),
       url('../fonts/OnestBold.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'OnestMedium';
  font-weight: 500;
  font-style: normal;
  src: local('OnestMedium'),
       url('../fonts/OnestMedium.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'OnestRegular';
  font-weight: 400;
  font-style: normal;
  src: local('OnestRegular'),
       url('../fonts/OnestRegular.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'OnestLight';
  font-weight: 300;
  font-style: normal;
  src: local('OnestLight'),
       url('../fonts/OnestLight.woff') format('woff');
  font-display: swap;
}